/* clientheigh gives size of element including padding alone. */
/* offsetwidth gives size of element including padding and border */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*includes padding and border size in overall size of element*/
    /* border: 1px solid green; */
}

@font-face {
    font-family: Opensans;
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    background-color: hsl(210, 36%, 96%);
    font-family: Arial, sans-serif;
    width: 100%;
    /* max-width: 100%; */
    /* overflow-x: hidden; */
}

main {
    /* width: 100%; */
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
}

nav > * {
    margin-bottom: 13px;
}

nav > .line {
    width: 5rem;
    height: 2px;
    background-color: #c59d5f;
}

nav > ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

nav > ul > li {
    color: #c59d5f;
    padding: 4px 12px;
    border-radius: 7px;
    border-top: 1.5px solid #c59d5f;
    border-bottom: 1.5px solid #222222;
    border-left: 1.5px solid #c59d5f;
    border-right: 1.5px solid #222222;
    font-size: 14px;
}

nav > ul > li:hover {
    background-color: #c59d5f;
    color: white;
    /* pointer-events: all; */
    cursor: pointer;
}

.menu-wrap {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 25px;
    width: 90%;
    /* margin: auto 20px; */
    margin-left: 6vw;
}

.menu-container {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    width: 45%;
    /* padding: 20px; */
    /* justify-content: space-around; */
}


.menu-container div:first-child {
    /* width: 40%; */
    flex: 1;
    border: 3px solid #c59d5f;
    border-radius: 6px;
    /* height: max-content; */
}

.menu-container div:last-child {
    /* width: 60%; */
    flex: 1.5;
}

.menu-container div:last-child > * {
    margin-bottom: 20px;
    font-family: 'Opensans', sans-serif;
        font-weight: 300;
        color: #617d88;
        font-size: 12px;
        line-height: 1.2;
}

.menu-container div:last-child h4 {
    border-bottom: 1px dashed hsl(210, 22%, 49%);
    padding-bottom: 7px;
}

.menu-container div:last-child span {
    color: #c59d5f;
    float: right;
    clear: both;
}

.menu-container img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 3px;
}


@media screen and (max-width: 850px) {
    .menu-wrap {
        display: block;
    }

    .menu-container {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .menu-container {
        display: block;
    }

    .menu-container div:last-child {
        margin-top: 10px;       
        }
}